.heading-work{
    display:flex;
     width:83rem;
     height:20vh;
     border-radius:6rem;
   }
   .header-icon{
     width:6rem;
   height: 3rem;
   margin-top: 2rem;
   margin-left:2rem;
   
   }
   .top-table{
     padding-top:3rem;
     margin-left:3rem;
       font-size: 1.2rem;
       display: flex;
     color:rgba(73, 80, 87, 1);
     height:2rem;
     width:25rem;
    align-items:centre;
     flex-wrap:wrap;
     gap:1rem;
     flex-direction:row;
      font-weight:400;
     font-style:Helvetica;
     
   }
   .blackcod{
    padding-top:3rem;
    display:flex;
   margin-left:31rem;
    font-style:Helvetica;
    font-weight:700;
    font-size:1.2rem;
    color:#0B132A;
    width:4rem;
    height:1.5rem;
    }
  .signtab{
    color: #FFFFFF;
    margin-left:2rem;
      width: 8rem;
      border: none;
      cursor: pointer;
      height: 3rem;
      display: flex;
      outline: none;
      font-size: 1rem;
      margin-top:2rem ;
      align-items: center;
      font-family: Helvetica;
      font-weight: bold;
      border-radius: 36px;
      justify-content: center;
      background-color: #DC1735; 

    }

     .landing-header{
        display: flex;
        flex-direction:column;
        width: 75rem;
        height: 28rem;
        margin-left: 5rem;
        margin-top: 3rem;
    }
     
    .map-image img{
        width: 35rem;
        height: 20rem;
       
    }
    .map-image{
        width: 35rem;
        height: 20rem;
        margin-left: 38rem;
        margin-top: -25rem;

    }
    .header-part h2{
        color: #9ca3af;
        font-size: 2.2rem;
        font-weight:400;
        font-family: Helvetica;
        width: 24rem;
    }
    .header-part h1{
        color: #e11d48;
        font-size: 2.3rem;
        font-weight: 700;
        width:33rem;
        font-family: Helvetica;
        margin-top: 3rem;

    }
    .header-part p{
        color: #52525b;
        width:30rem;
        font-size: 1rem;
        font-weight: 400;
        font-family: Helvetica;
        line-height: 1.5rem;
        margin-top: 6rem;
    }
    .start-button{
        color: #FFFFFF;
        background: #1e1b4b;
        width: 10rem;
        height: 3rem;
        margin-top: 3rem;
        border-radius: 5rem;
        margin-top: 3rem;
        font-size: 16px;
        font-weight: 300;
        border: none;
        font-family: Helvetica;
        cursor: pointer;
    }
    .searchbar{
        display: flex;
        flex-direction:column;
        width: 75rem;
        height: 35rem;
        margin-left: 5rem;
        margin-top: 10rem;
    }
    .searchbar img{
        width: 38rem;
        height: 5rem;
    }
    .leads-img{
        width: 35rem;
        height: 25rem;
    }
    .leads-img img{
        width: 38rem;
        height: 28rem;
    }
    .leads-bar{
        margin-left: 35rem;
        margin-top: -31rem;
    }
    .searchbar h3{
        width:25rem;
        font-size: 1.875rem;
        font-weight: 300;
        font-family:Helvetica, sans-serif, system-ui;
        line-height: 1.625;
        color: #262626;
    }
    .searchbar h6{
        color: #52525b;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 2;
        width: 25rem;
        font-family:Helvetica, sans-serif, system-ui;
    }
    .searchbar button{
        width: 8rem;
        height: 3rem;
        background-color: #FFFFFF;
        color: #362f78;
        border:2px solid #362f78;
        border-radius: 4rem;
        font-size: 1.1rem;
        font-weight: 700;
        font-family:Helvetica, sans-serif, system-ui;
        cursor: pointer;
    }
    h2{
        color:#262626;
        text-align: center;
        margin-top: 8rem;
        font-weight: 300;
        font-family:Helvetica, sans-serif, system-ui;
        font-size: 1.875rem;
    line-height: 2.25rem;
    }
    h7{
        width: 30rem;
        margin-top: 3rem;
        margin-left: 26rem;
        font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    color: #52525b;
    display: flex;
    text-align: center;
    }  
    .content-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        width: 70rem;
        margin-left: 5rem;
    }
    .industry-net{
        display: flex;
        width: 18rem;
        height: 22rem;
        background-color:rgb(252 232 243);
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    color: #52525b;
    margin-top: 3rem;
    border: 1px solid rgb(229 231 235);
    border-radius: 0.5rem;
    }
    .industry-net h4{
        color: #362f78;
        font-size: 20px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    }
    .industry-net img{
        width: 5rem;
        height: 3rem;
        margin-left: 6.5rem;
        margin-top: 2rem;
    }
    .employee-box{
        display: flex;
        width: 18rem;
        height: 22rem;
        background-color:rgb(229 237 255);
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    color: #52525b;
    margin-top: 3rem;
    border: 1px solid rgb(229 231 235);
    border-radius: 0.5rem;
    }
    .employee-box h4{
        color: #362f78;
        font-size: 20px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    }
    .employee-box img{
        width: 5rem;
        height: 3rem;
        margin-left: 6.5rem;
        margin-top: 2rem;
    }
    .sales-box{
        display: flex;
        width: 18rem;
        height: 22rem;
        background-color:rgb(252 232 243);
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    color: #52525b;
    margin-top: 3rem;
    border: 1px solid rgb(229 231 235);
    border-radius: 0.5rem;
    }
    .sales-box h4{
        color: #362f78;
        font-size: 20px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    }
    .sales-box img{
        width: 5rem;
        height: 3rem;
        margin-left: 6.5rem;
        margin-top: 2rem;
    }
    .content-box2{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        width: 70rem;
        margin-left: 5rem;
    }
    .company-type{
        display: flex;
        width: 18rem;
        height: 22rem;
        background-color:rgb(229 231 235);
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    color: #52525b;
    margin-top: 2rem;
    border: 1px solid rgb(229 231 235);
    border-radius: 0.5rem;
    }
    .company-type h4{
        color: #362f78;
        font-size: 20px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    }
    .company-type img{
        width: 5rem;
        height: 3rem;
        margin-left: 6.5rem;
        margin-top: 2rem;
    }
    .location-box{
        display: flex;
        width: 18rem;
        height: 22rem;
        background-color:rgb(252 232 243);
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    color: #52525b;
    margin-top: 2rem;
    border: 1px solid rgb(229 231 235);
    border-radius: 0.5rem;
    }
    .location-box h4{
        color: #362f78;
        font-size: 20px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    }
    .location-box img{
        width: 5rem;
        height: 3rem;
        margin-left: 6.5rem;
        margin-top: 2rem;
    }
    .verified-box{
        display: flex;
        width: 18rem;
        height: 22rem;
        background-color:rgb(229 231 235);
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    color: #52525b;
    margin-top: 2rem;
    border: 1px solid rgb(229 231 235);
    border-radius: 0.5rem;
    }
    .verified-box h4{
        color: #362f78;
        font-size: 20px;
        font-weight: 400;
    font-family:Helvetica, sans-serif, system-ui;
    }
    .verified-box img{
        width: 5rem;
        height: 3rem;
        margin-left: 6.5rem;
        margin-top: 2rem;
    }
    .line-content{
        color:#262626;
        text-align: center;
        margin-top: 8rem;
        font-weight: 300;
        font-family:Helvetica, sans-serif, system-ui;
        font-size: 1.875rem;
    line-height: 2.25rem;
    }
    .multi-table-box-section{
        width: 100%;
        height: 22rem;
        margin-top: 2rem;
        
    }
    
    .multi-table-box-section .flexbox-2 .fifth-flexcontainer1{
        display: flex;
        width: 70rem;
        height: 6rem;
        margin-left: 5rem;

    }
    
    .multi-table-box-section .flexbox-2 .fifth-flexcontainer1 .flexcontainer1{
        width: 18rem;
        height: 5rem;
        border: 1px solid rgb(251 213 213);
        opacity: 2;
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    
    }
    
    .flexcontainer1 .container1 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer1 .container1 a .container1-img1 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer1 .container1 a .container-para1{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-flexcontainer1 .flexcontainer2{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer2 .container2 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer2 .container2 a .container2-img2 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer2 .container2 a .container-para2{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-flexcontainer1 .flexcontainer3{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer3 .container3 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer3 .container3 a .container3-img3 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer3 .container3 a .container-para3{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-flexcontainer1 .flexcontainer4{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer4 .container4 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer4 .container4 a .container4-img4 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer4 .container4 a .container-para4{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .multi-table-box-section .flexbox-2 .fifth-container2{
        display: flex;
        width: 70rem;
        height: 6rem;
        margin-left: 5rem;
        margin-top: 1.2rem;
    }
    
    .flexbox-2 .fifth-container2 .flexcontainer5{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer5 .container5 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer5 .container5 a .container5-img5 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer5 .container5 a .container-para5{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-container2 .flexcontainer6{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer6 .container6 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer6 .container6 a .container6-img6 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer6 .container6 a .container-para6{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-container2 .flexcontainer7{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer7 .container7 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer7 .container7 a .container7-img7 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer7 .container7 a .container-para7{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-container2 .flexcontainer8{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer8 .container8 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer8 .container8 a .container8-img8 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer8 .container8 a .container-para8{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .multi-table-box-section .flexbox-2 .fifth-list3{
        display: flex;
        width: 70rem;
        height: 6rem;
        margin-left: 5rem;
        margin-top: 1.2rem;
    }
    
    .flexbox-2 .fifth-list3 .flexcontainer9{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer9 .container9 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer9 .container9 a .container9-img9 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer9 .container9 a .container-para9{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-list3 .flexcontainer10{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer10 .container10 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer10 .container10 a .container10-img10 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer10 .container10 a .container-para10{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .flexbox-2 .fifth-list3 .flexcontainer11{
        width: 18rem;
        height: 5rem;
        border: 2px solid  rgb(251 213 213);
        cursor: pointer;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }
    
    .flexcontainer11 .container11 a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .flexcontainer11 .container11 a .container11-img11 img{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .flexcontainer11 .container11 a .container-para11{
        width: 18rem;
        color: #212429;
        font-style: normal;
        font-family: helvetica;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 1rem;
    } 
    .directory-section{
        width: 100%;
        height:25rem;
        background-color: #362f78;
        color: #FFFFFF;
    }  
    .directory-section h6{
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        padding-top: 1.5rem;
        font-family: system-ui, Helvetica, sans-serif;
    }
    .directory-section h1{
        text-align: center;
    }
    .inner-flex{
        display: flex;
        flex-direction: row;
        width: 60rem;
        height: 15rem;
        margin-left: 7rem;
    }
    .inner-flex p{
        color: #FFFFFF;
        font-size: 1.125rem;
        font-weight: 500;
        line-height:1.75rem;
        font-family: system-ui, Helvetica, sans-serif;
        margin-left: 2rem;
        width: 10rem;
        height: 2rem;
    }
    .letters-content{
        font-size: 1.125rem;
        font-weight: 500;
        line-height:1.75rem;
        font-family: system-ui, Helvetica, sans-serif;
        width: 43rem;
        height: 5rem;
        margin-left: -10rem;
        text-decoration: none;
        margin-top: 5rem;
    
}
.letters-content a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.5rem;
    margin: 1rem;

}
.inner-flex img{
    width: 13rem;
    height: 12rem;
    margin-top: 2rem;
}
.overall-flex{
    /* width:70rem; */
     height:52vh;
     margin-top:5rem;
     color: #1e1b4b;
}
.flex-row{
    display:grid;
    grid-template-columns: 1fr 1fr;
     width: 75rem;
    height:10rem ;
      margin:1rem;
    border-radius:1rem;
    background-color:#F8F9FA;
    margin-left:6rem;
}
 .class-flex{
    margin-top:2rem; 
    font:Helvetica;
    color:#0B132A;
    width: 35rem;
    height:4rem;
    font-size:1.5rem;
    font-weight:700;
    margin-left:3rem;
}
  .wrapper input{
      width:27rem;
    font-size:1rem;
    padding-left:1rem;
       margin-left:-35rem;
    font-weight:400;
      margin-top:4rem;
      height: 3rem;
      border-radius: 50px;
    border:0.1rem solid #DC1735;
     outline:none;
      font-family: Helvetica;
    background:#FFFFFF;
    
  }
  .wrapper button {
          position: relative;
          right:10rem;
          border: none;
    background:none;
    font-size:1rem;
    font-weight:700;
         line-height:18.4px;
          color: #f52746;
      font-family: Helvetica;
      width: 10rem;
   }

   .flextab{
    display: flex;
   color:#212429;
   font-size:1.39rem;
   width:20rem;
   padding-left:6rem;
   padding-top:rem;
   height:1rem;
   font-weight:700;
   flex-wrap: wrap;
   margin-left:-4rem;
   margin-top:5rem;
   cursor: pointer;
 }
 .innerflex1{
    padding-top:3rem;
   padding-left:6rem;
     font-size: 1rem;
     display: flex;
   color: #52525B;
   line-height:0.7rem;
  align-items:centre;
   flex-wrap:wrap;
   gap:1.5rem;
   flex-direction:row;
    font-weight:500;
   font-style:Helvetica;
   margin-left:-4rem;
   cursor: pointer;

  }
  .innerflex1 :hover{
    border-bottom: 1px solid black;
  }
 .flexsecond{
    padding-top:3rem;
   padding-left:6rem;
     font-size: 1rem;
     display: flex;
     color: #52525B;
   line-height:0.9rem;
  align-items:centre;
   flex-wrap:wrap;
   gap:1.5rem;
   flex-direction:row;
    font-weight:500;
   font-style:Helvetica;
   margin-left:-4rem;
   width: 72rem;
   cursor: pointer;

  }
 .flexsecond :hover{
  border-bottom: 1px solid black;
 }
 .flexthrid{
    padding-top:3rem;
   padding-left:6rem;
     font-size: 1rem;
     display: flex;
     color: #52525B;
   line-height:0.8rem;
  align-items:centre;
   flex-wrap:wrap;
   gap:1.5rem;
   flex-direction:row;
    font-weight:500;
   font-style:Helvetica;
   margin-left:-4rem;
   cursor: pointer;

 }
 .flexthrid :hover{
  border-bottom: 1px solid black;
 }
 .footer-section{
    width:83.3rem;
    background: #362f78;
    margin-top:15rem;
    height: 14rem;
}
.depart{
    color:#FFFFFF;
    font-weight:700;
    font-style:Helvetica;
  }
  .leads-pic{
    width: 10rem;
  height: 3rem;
  margin-left: 7rem;
    margin-top:3rem;
  }
  .mui-root{
    margin-left:32rem;
    margin-top: 2rem;
    color:#FFFFFF;
    font-size:0.9rem;
    font-weight:400;
    font-style:Helvetica;
    opacity: 0.3;
  }
  .mui-icons{
    margin-left:65rem;
    margin-top:-3rem;
    width: 0.3rem;
    display: flex;
    }
   

    

    

